<div class="bg-danger">
  <div>{{"footer.made"|transloco}}
    <span class="me-1">{{"footer.name"|transloco}}</span>
    <div>
      <a href="https://wa.me/qr/5CH3DRRPS2OAG1" class="text-dark">
        <fa-icon [icon]="faWhatsapp"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/ahmed-ragab-494537257/" class="text-dark">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
      <a href="https://github.com/ahmedRagab5" class="text-dark">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      </div>
  </div>


</div>
