.container{
  /* width: 70%; */
  margin: auto;
  padding-top: 100px;
}
.login{
  background-color: var(--card-color);
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding:30px ;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  p{
    color: var(--text-color);
  }
}
.login input{
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  font-size: 15px;
  border: 1px solid var(--pro-color);
  color: var(--text-color);
  background-color: var(--main-color);
}
/* / */
@media  (max-width:768px)  {
  .container{
    /* width: 100%; */
    margin: auto;
  }
  .login{
    width: 100%;
  }
}
