<div class="container" >
  <form class="login" [formGroup]="loginForm">
    <input id="name" type="text" formControlName="email" placeholder="Email" autocomplete="off">
    <input id="password" type="password" formControlName="password" placeholder="Password">
    <button  class="btn btn-success" (click)="login()">{{"log-in.login" | transloco }}</button>
    @if (hid) {
      <p>error!</p>
    }
    <p><span>{{"log-in.reg" | transloco }} </span> <a routerLink="/register">{{"log-in.a" | transloco }}</a></p>
  </form>
</div>
