.container{
  margin: auto;
  padding-top: 30px;
}
.reg{
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  input:not(.sp){
    width: 100%;
  }
}
.img{
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  background-size: cover;
  background-image: url( '/assets/image/profail2.png');
  img{
    width: 200px;
  height: 200px;
    border-radius: 50%;

  }
  .upload{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    span{
      width: 50px;
      color: var(--text-color);
    }
  }
  div{
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top: 15%;
    left: 15%;
    i{
      width: 50px;
    }
  }
}
.sp{
  display: none;
}
form{
    padding:30px ;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: var(--card-color);
}
form input{
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  font-size: 15px;
  border: 1px solid var(--pro-color) !important;
  color: var(--text-color) !important;
  background-color: var(--main-color) !important;
}
input:focus{
  outline: none;
  border-color:  #666;
  box-shadow: 0 0 5px #5a5858;
}
/* ::ng-deep form input[type="email"],
form input[type="password"] {
  color: var(--text-color) !important;
  background-color: var(--main-color) !important;
} */

@media  (max-width:768px)  {
  .container{
    width: 100%;
    margin: auto;
  }
  .name{
    flex-direction: column;
    gap: 10px;
  }
  .reg{
    width: 100%;
  }
}
